* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter;
  text-decoration: none;
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

/* Добавил универсальный див-обёртку в HTML,
теперь стилизуем его. Использовать будем внутри
каждого section*/
.container {
  /* Ширину взял из твоего макета */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2.68rem;
  background-color: green;
  width: 100%;
}

.section__title {
  font-family: Lora;
  font-size: 3.875rem;
  font-weight: normal;
  line-height: 5rem;
}
.section__subtitle {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3.75rem;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.menu {
  margin: 2.68rem;
}
.menu__list {
  display: flex;
  column-gap: 5rem;
  flex-wrap: wrap;
}
.menu__link {
  color: black;
  line-height: 1.125rem;
  font-size: 0.875rem;
}

.main section {
  padding-top: 80px;
}
.main section:first-child {
  padding-top: 0;
}

.main-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* Расположим объекты в коноку друг под другом */
  flex-direction: column;
}

.main-block__img {
  position: absolute;

  /* У родителя установлены размеры через VW и VH,
  дочерний контейнер пусть просто ориентируется на
  родителя – меняем на % */
  width: 100%;
  height: 100%;

  /* !!! Это свойство нужно дать самому IMG, а не его
  контейнеру */
  /* object-fit: cover; */

  z-index: -1;

  /* top: 0;
  left: 0; */
}

/* Обращаемся к IMG внутри класса .main-block__img */
.main-block__img img {
  /* Помимо object-fit также нужно дать
  размеры относительно родителя */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-block {
  width: 100vw;
  display: flex;
}

.main-block__text {
  padding: 10rem 0 0 2.68rem;
  flex-direction: column;
}
.main-block__text__title {
  font-family: Lora;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7.6875rem;
  letter-spacing: 0.2rem;
}
.main-block__text__text {
  font-family: Lora;
  font-size: 3.875rem;
  font-weight: 700;
  color: #f4f845;
  line-height: 5rem;
}

.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  /* НЕ ПРИМЕНЯЕТСЯ, забыт знак решётки */
  color: 000;
  background-color: #f4f845;

  /* align-self: flex-end; */
  /* Расположим по центру экрана по горизонтали */
  align-self: center;

  /* Чтобы кнопка отталкивалась от верха и уходила вниз, 
  используем старый трюк с margin */
  margin-top: auto;
  margin-bottom: 120px;
  padding: bottom 7.5rem;
  border-radius: 3.75rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875em;
  border: none;
}
.main-block__button:hover {
  background-color: #e4e906;
}
.services {
  background-color: #efefef;
  width: 100%;

  margin: 0;
}

.services__title {
  margin-bottom: 1.5rem;
}

.services__cards {
  margin-top: 3.375rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* min-width: 1280px; */
}
.services__cards__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: 480px;
}
.services__img {
  height: 100%;
}
.services__img img {
  height: 100%;
  object-fit: cover;
}
.services__cards__item__footer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}
.services__cards__item__footer__text {
  margin-right: 1.12rem;
}
.catalog {
  background-color: #efefef;
  width: 100%;
  margin: 0;
}
.catalog__cards {
  margin-top: 3.375rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.catalog__img {
  height: 100%;
}
.catalog__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.catalog__cards__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 640px;
  height: 460px;
}
.catalog__cards__item__info {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.catalog__card__item__header {
  display: flex;
  margin: 1.5rem 0.75rem;
}
.catalog__card__item__header p {
  background-color: #ffffff;
  padding: 0.75rem 0.875rem;
  border-radius: 1.25rem;
  margin-right: 0.75rem;
}
.catalog__card__item__footer {
  margin: 1rem;
}
.catalog__card__item__footer a {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f4f846;
}
